<div class="main">
  <h2>Регистрация</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { name: 'registration' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="message"></div>
    <div class="error-message"></div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label "Пароль" %>
      <% if @minimum_password_length %>
        <em>(минимум <%= @minimum_password_length %> символов)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <%= f.hidden_field :graphical_password %>
    <div class="field">
      <%= f.label "Подтверждение пароля" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="auth-button" id="sign_up">Зарегистрироваться</div>
</div>

<div class="overlay js-overlay-canvas">
  <canvas id="canv" style="display: block;"></canvas>
  <div class="buttons">
    <span class="canv-button" id="clear">Очистить</span>
    <span class="canv-button" id="store">Сохранить пароль</span>
  </div>
  <div class="close-popup js-close-canvas"></div>
</div>

<% end %>
