<h2>Измените пароль</h2>

<%= form_for(resource, as: resource_name, url: update_password_path, html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="message"></div>
  <div class="error-message"></div>

  <div class="field">
    <%= f.label :password, "Новый пароль" %><br />
    <% if @minimum_password_length %>
      <em>(минимум <%= @minimum_password_length %> символов)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Подтвердите пароль" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <%= f.hidden_field :graphical_password %>

  <div class="actions">
    <div class="auth-button" id="change_password">Изменить пароль</div>
  </div>
<% end %>

<div class="overlay js-overlay-canvas">
  <div class="popup js-popup-canvas">
    <canvas id="canv" style="display: block;"></canvas>
    <div class="buttons">
      <span class="canv-button" id="clear">Очистить</span>
      <span class="canv-button" id="store">Сохранить пароль</span>
    </div>
    <div class="close-popup js-close-canvas"></div>
  </div>
</div>
