/.popup#authorization-popup class=((flash[:status].present? && flash[:status] == 'after_confirm') ? "popup--isopen" : "")
  .popup_header.wrap
  .popup_body.wrap-body-popup
    - if user_signed_in?
      p.input-group--block
        ' Вы уже вошли в систему
        = link_to('выйти',
                destroy_user_session_path,
                method: :delete,
                #remote: true,
                id: "logout")

    - else
      = form_for( User.new,
              url: session_path(:user),
              html: {id: 'sign_in_user', :'data-type' => 'json'},
              remote: true ) do |f|

        fieldset.input-group--block
          = f.label :email, "Эл.почта", class: "f-label-block"
          = f.email_field :email, id:"login_email", autofocus: false, autocomplete: "off",  placeholder: "email@example.com", required: true
        fieldset.input-group--block
          = f.label :password, "Пароль", class: "f-label-block"
          = f.password_field :password, autocomplete: "off", id:"login_password", pattern:'(?=.*[a-zA-Z0-9]).{5,}', title:"Не менее 5 символов", required: true
          /.hint = link_to "Забыли пароль?", "#", class: "popup_lnk", data:{ popup:'forgotten-popup' }
        .hint--is-error
        .hint--is-success
        fieldset.input-group--block.btn--is-block-on-mobile
          = f.submit "Вход", id: "login", class: "btn btn--popup"
          = link_to "Регистрация", "#", class: "popup_lnk btn btn--popup", data:{ popup:'registration-popup' }
  button.popup_close
