/.popup#registration-popup
  .popup_header.wrap
    = render partial: "layouts/header_client"
  .popup_title Регистрация
  .popup_body.wrap-body-register-popup
    - if user_signed_in?
      p.input-group--block
        ' Вы уже вошли в систему
        = link_to('выйти',
                destroy_user_session_path,
                method: :delete,
                id: "logout")
    - else
      = form_for( User.new,
              url: registration_path(:user),
              html: {class:'new_client', id: 'sign_up_user', :'data-type' => 'json'},
              remote: true) do |f|
        .hint--is-error
        .hint--is-success
        .input-group-register
        .input-group-register
          = f.label :email, "Эл. почта", class: "f-label-block"
          = f.email_field :email, id: "register_email", autofocus: false, placeholder: "email@example.com", required: true
        hr.hr-register
        .input-group-register
          .input-block-register
            = f.label :password, "Пароль", class: "f-label-block"
            = f.password_field :password, autocomplete: "off", pattern:'(?=.*[a-zA-Z0-9]).{5,}', title:"Не менее 5 символов", required: true
          .input-block-register
            = f.label :password_confirmation, "Повторите пароль" , class: "f-label-block"
            = f.password_field :password_confirmation, autocomplete: "off", pattern:'(?=.*[a-zA-Z0-9]).{5,}', title:"Не менее 5 символов", required: true
        .hint.hint_consent
          ' Отправляя свои данные, вы даёте согласие на обработку ваших персональных данных в
          = link_to " соответствии с 152-ФЗ", "http://kremlin.ru/acts/bank/24154", target: "_blank", class:"hint_fz"
          '.
        .popup_actions
          = link_to "Вход", "#", class: "popup_lnk btn btn--popup", data:{ popup:'authorization-popup' }
          = f.submit "Регистрация", id: "register", class: "btn btn--popup"
  button.popup_close
