<html>
  <body>
  <% if user_signed_in? %>
    <%- flash.each do |key, message| %>
      <p><%= message %></p>
    <% end %>
    <%= form_with(url: "/feedback", method: "post") do %>
      <%= label_tag(:comment, "Оставьте комментарий разработчику:") %>
      <br>
      <%= text_area_tag(:comment, "", size: "100x10", required: true) %>
      <br>
      <%= submit_tag("Отправить") %>
    <% end %>
    <div class="delivery_message"></div>
  <% else %>
    <div>Вы не залогинены</div>
  <% end %>
  </body>
</html>