<div class="main">
  <h2>Вход</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { name: 'session' }) do |f| %>

    <div class="message"></div>
    <div class="error-message"></div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, "Пароль" %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <%= f.hidden_field :graphical_password %>

    <% if devise_mapping.rememberable? %>
      <div class="field">
      </div>
    <% end %>

    <div class="actions">
      <div class="auth-button" id="sign_in">Войти</div>
    </div>
  <% end %>
  <%= link_to 'Забыли пароль?', new_user_password_path %>
</div>

<div class="overlay js-overlay-canvas">
  <div class="popup js-popup-canvas">
    <canvas id="canv" style="display: block;"></canvas>
    <div class="buttons">
      <span class="canv-button" id="clear">Очистить</span>
      <span class="canv-button" id="calc">Войти</span>
    </div>
    <div class="close-popup js-close-canvas"></div>
  </div>
</div>

<div class="error-hint"></div>