#canv {
    position: absolute;
    top: 0;right: 0;left: 0;
    margin: auto;
    background-color: white;
}

.overlay {
    display: none;
}

.popup {
    /*position: absolute;
    width: 400px;
    height: 400px;
    top: 80%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-sizing: border-box;
    color: #fff;*/
}

/*button {
    width: 300px;
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	background-color: #ff5252;
	text-align: center;
	cursor: pointer;
}*/

.buttons {
    position: relative;
    margin-top: 100px;
}

.canv-button {
    color: grey;
    cursor: pointer;
    margin-left: 50px;
    margin-rigt: 50px;
}

.auth-button {
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
    cursor: pointer;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close-popup:before {
    content: '';
    background-color: grey;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup:after {
    content: '';
    background-color: grey;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
}

