<p>Здравствуйте!</p>

<p>Поступил запрос на изменение пароля. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @resource.reset_password_token) %></p>

<p>Если Вы не отправляли запрос, пожалуйста, проигнорируйте это сообщение.</p>
<p>Ваш пароль не изменится, пока Вы не перейдете по ссылке и не создадите новый.</p>
