/nav.user-nav
  - if user_signed_in?
    = link_to('Выйти',
            destroy_user_session_path,
            method: :delete,
            id: "logout", class: "tooltip__list__lnk--bold")

  - else
    ul.user-nav_item.nav-auth
      li.nav-auth_item
        = link_to 'Войти', new_user_session_path, class: "popup_lnk nav-auth_item-link nav-auth_item-link--accent", id: "#{flash[:status]}", data: {popup: 'authorization-popup'}
      li.nav-auth_item
        = link_to "Регистрация", new_user_registration_path, class: "popup_lnk nav-auth_item-link", data: {popup: 'registration-popup'}
